<h1 id="tableLabel">Customers</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table table-striped table-responsive-md text-center' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company Name</th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Address</th>
      <th>City</th>
      <th>Region</th>
      <th>Postal Code</th>
      <th>Country</th>
      <th>Phone Number</th>
      <th>Fax Number</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'companyName', $event)">{{ customer.companyName }}</span></td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'contactName', $event)">{{ customer.name}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'contactTitle', $event)">{{ customer.title}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'Address', $event)">{{ customer.address}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'City', $event)">{{ customer.city}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'Region', $event)">{{ customer.region}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'postalCode', $event)">{{ customer.postalCode}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'country', $event)">{{ customer.country}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'phone', $event)">{{ customer.phoneNumber}}</span> </td>
          <td> <span contenteditable="true" (keyup)="changeValue($event)" (blur)="updateList(customer.id, 'fax', $event)">{{ customer.fax}}</span> </td>
      </tr>
  </tbody>
</table>
